<h1>{{title}}</h1>
<hr>
<h2>User</h2>
<h3>GET</h3>
<p>Get all users</p>
<pre>GET /api/users</pre>
<p>Get user by id</p>
<pre>GET /api/users/:id</pre>
<h3>POST</h3>
<p>Create new user</p>
<pre>POST /api/users</pre>
<hr>
<h2>Photo</h2>